.blocked {
  padding-top: 134px;
  padding-bottom: 80px;
}
.blocked__title {
  margin-bottom: 60px;
}
.blocked__wrap {
  align-items: center;
}
.blocked__img {
  position: relative;
  width: 415px;
  height: 415px;
}
.blocked__img img {
  min-width: 460px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blocked__content {
  width: 100%;
  max-width: 555px;
  margin-left: auto;
}