.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: var(--font-Metropolis);
  transition: 0.3s;
  background-color: transparent;
}
.btn.--lg {
  height: 75px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}
.btn.--violet {
  color: #fff;
  background: var(--color-primary);
}
.btn.--violet:hover {
  background: var(--color-primary-blue);
}
.btn.--bg-white {
  color: var(--color-black04);
  background: #fff;
  border: 1px solid #fff;
}
.btn.--bg-white:hover {
  color: #fff;
  background-color: transparent;
}
.btn.--b-white {
  border: 1px solid #fff;
}
.btn.--b-white:hover {
  color: var(--color-primary);
  background-color: #fff;
}