.pool__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 80px 47.5px;
}
.pool__content {
  width: 100%;
  max-width: 555px;
}
.pool__title {
  margin-bottom: 30px;
}
.pool__text {
  margin-bottom: 30px;
}
.pool__links {
  max-width: 290px;
}
.pool__links ul {
  margin-bottom: -3px;
}
.pool__links li {
  width: 50%;
  margin-bottom: 3px;
}
.pool__links a {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: var(--color-primary-blue);
  border-color: var(--color-primary-blue);
}
.pool__links a:hover {
  border-color: transparent;
}
.pool__img {
  width: 320px;
  height: 320px;
  margin-left: auto;
}