.mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid #DDDDE8;
}
.mobile__icon {
  width: 340px;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 28px solid #F8FBFE;
  background: #EBF5FB;
  border-radius: 50%;
  margin-bottom: 20px;
}
.mobile__text {
  width: 100%;
  max-width: 680px;
  text-align: center;
}