.g {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}
.g__cloud {
  position: absolute;
}
.g__cloud:nth-of-type(1) {
  max-width: 94px;
  top: 135px;
  left: calc(50% - var(--container-width) / 2 + 385px);
}
.g__cloud:nth-of-type(2) {
  max-width: 52px;
  top: 280px;
  right: calc(50% - var(--container-width) / 2 + 327px);
}
.g__cloud:nth-of-type(3) {
  top: 69px;
  left: calc(50% - var(--container-width) / 2 - 71px);
}
.g__cloud:nth-of-type(4) {
  top: 257px;
  right: calc(50% - var(--container-width) / 2 - 150px);
}
.g__cloud:nth-of-type(5) {
  top: 785px;
  left: calc(50% - var(--container-width) / 2 - 220px);
}
.g__cloud:nth-of-type(6) {
  top: 1105px;
  right: calc(50% - var(--container-width) / 2 - 250px);
}
.g__cloud svg {
  max-width: 100%;
  max-height: 100%;
}
.g__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.g__title {
  text-align: center;
  margin-bottom: 30px;
  max-width: 900px;
}
.g__text {
  max-width: 800px;
  margin-bottom: 30px;
  text-align: center;
}
.g__list {
  display: grid;
  gap: 60px 18px;
  grid-template-columns: repeat(4, 1fr);
  padding: 60px;
}
.g__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.g__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: linear-gradient(180deg, #3D2AA4 0%, #291A7A 100%);
  margin-bottom: 40px;
}
.g__item-icon img[src*=freedom] {
  position: relative;
  right: -13px;
}
.g__item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}