include ../../pug/vars

if real
	.real.case
		.real__wrap.row
			.real__imgs-wrap
				img(src=real.img alt="")
			.real__content
				.real__title.h2= real.title
				.real__text= real.text
				.real__btn.btn.--lg.--green Buy Residential Proxies